@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: 27px "Roboto", sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.header {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header .burger {
  display: none;
}

.header .menu__logo {
  cursor: pointer;
  font: 40px "Lobster", sans-serif;
}

.header .menu {
  gap: 90px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__item .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style: none;
}

.header__item .menu__list .menu__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  background-color: #ff4343;
  border: 0;
  cursor: pointer;
  font-size: 21px;
  color: #ffffff;
  width: 231px;
  height: 66px;
  border-radius: 7px;
  margin-top: 35px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

button:hover {
  background-color: #c91919;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px;
  background-color: #100e14;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block1 {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .block1 h1 {
  margin-bottom: 10px;
}

main .block1 h4 {
  color: rgba(255, 255, 255, 0.7);
}

main .block1 p {
  font-size: 14px;
}

main .block1 .phone {
  float: right;
  margin-right: 10px;
}

main .block1 .images-block {
  width: 904px;
  height: 537px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("./images/Rectangle.png");
}

main .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  margin-top: 100px;
}

main .block2__textblock {
  width: 300px;
}

main .block2__textblock h1 {
  font-size: 38px;
  line-height: 50px;
}

main .block2__textblock h3 {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.5);
}

main .block2__imagesblock {
  position: relative;
}

main .block2__imagesblock .background-img {
  z-index: -1;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

main .block2__imagesblock .front-img {
  z-index: 10;
  position: absolute;
  left: 310px;
}

main .block3,
main .block4,
main .block5 {
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 130px;
}

main .block3__textblock,
main .block4__textblock,
main .block5__textblock {
  letter-spacing: 1.08px;
}

main .block3__textblock h1,
main .block4__textblock h1,
main .block5__textblock h1 {
  font-size: 58px;
  margin-bottom: 10px;
}

main .block3__textblock h5,
main .block4__textblock h5,
main .block5__textblock h5 {
  font-size: 27px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  width: 450px;
}

main .block3__textblock h5 span,
main .block4__textblock h5 span,
main .block5__textblock h5 span {
  color: #ffffff;
}

main .block4__textblock {
  width: 500px;
}

main .block4__textblock h1 {
  font-size: 54px;
}

main .block5__textblock {
  width: 500px;
}

main .block6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  text-align: center;
}

main .block6 h1 {
  width: 475px;
  font-size: 61px;
}

main .block6 .red-line {
  width: 120px;
  height: 5px;
  background-color: #ff4343;
}

main .block6 h3 {
  width: 600px;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.42px;
  line-height: 38px;
}

main .block6 .people-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

main .block6 .people-preview__item {
  cursor: pointer;
  position: relative;
}

main .block6 .people-preview__item:hover .background {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main .block6 .people-preview__item .background {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 452px;
  border-radius: 10px;
}

main .block6 .people-preview__item__bigtext {
  position: absolute;
  bottom: 80px;
  font-weight: 100;
  width: 100%;
}

main .block6 .people-preview__item__name {
  position: absolute;
  bottom: 60px;
  font-weight: 100;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

main .block6 .people-preview__item__work {
  position: absolute;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

main .block7 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
}

main .block7__async {
  color: #8bffb0;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

main .block7__header {
  width: 780px;
  margin: 0;
  font-size: 58px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
}

main .block7__subtext {
  width: 900px;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  font-size: 27px;
  text-align: center;
}

main .block7__people {
  position: relative;
  height: 835px;
  width: 940px;
}

main .block7__people img {
  position: absolute;
  top: 0;
  left: 0;
}

main .block8 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block8 div {
  width: 1120px;
  height: 433px;
  background: #1d1b24;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block8 div h2 {
  font-size: 63px;
  font-weight: normal;
  margin-bottom: 0;
}

main .block8 div p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 27px;
}

main .block9 {
  margin-top: -75px;
  margin-left: -75px;
  width: 99vw;
  position: relative;
}

main .block9 .background {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block9 h3 {
  font-size: 42px;
  font-weight: 700;
  width: 700px;
  text-align: center;
}

main .block9 p {
  font-weight: normal;
  font-size: 23px;
}

main .block10 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 100%;
}

main .block10 h1 {
  margin-bottom: 50px;
}

main .block10 .feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

main .block10 .feature-container .feature {
  width: 615px;
  height: 419px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(255, 255, 255, 0.06)), color-stop(3.3%, #85e9a5));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 3%, #85e9a5 3.3%);
}

main .block10 .feature-container .feature .img-block {
  position: relative;
}

main .block10 .feature-container .feature .img-block img {
  height: 419px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

main .block10 .feature-container .feature .img-block .title {
  position: absolute;
  bottom: 100px;
  left: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 19px;
  cursor: pointer;
}

main .block10 .feature-container .feature .img-block .title:hover {
  text-decoration: underline;
}

main .block10 .feature-container .feature .img-block .YouTube {
  position: absolute;
  left: 20px;
  bottom: 40px;
  width: calc(220px - 20px);
  font-size: 16px;
}

main .block10 .feature-container .feature .info-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

main .block10 .feature-container .feature .info-block .upper-para {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #8bffb0;
}

main .block10 .feature-container .feature .info-block h4 {
  font-weight: normal;
  font-size: 29px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
}

main .block10 .feature-container .feature .info-block .text {
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

main .block10 .feature-container .feature .info-block a {
  position: absolute;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
  font-size: 19px;
  font-weight: normal;
}

main .block10 .feature-container .feature .info-block a:hover {
  text-decoration: underline;
}

footer {
  background: #100e14;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer p {
  margin: 0;
}

footer .logo {
  cursor: pointer;
  font: 40px "Lobster", sans-serif;
}

footer .links {
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .links .link__col p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}

footer .links .link__col ul {
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
}

footer .links .link__col li {
  padding: 5px 0;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}

footer .links .link__col li:hover {
  text-decoration: underline;
}

footer .socials {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer .socials i {
  cursor: pointer;
  font-size: 40px;
}

footer .socials i:hover {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .header .header__item {
    display: none;
  }
  .header .burger {
    display: block;
    cursor: pointer;
  }
  main .block1 .images-block {
    display: none;
  }
  main .block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .block2__textblock {
    width: 500px;
    text-align: center;
  }
  main .block4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .block5,
  main .block3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .block7__header {
    width: 600px;
  }
  main .block7__subtext {
    width: 600px;
  }
  main .block8__bgcard p {
    text-align: center;
    font-size: 20px;
  }
  main .block8__bgcard h2 {
    font-size: 40px;
  }
  footer {
    padding-bottom: 400px;
  }
}

@media screen and (max-width: 400px) {
  main .block2__textblock {
    width: 370px;
  }
  main .block2__imagesblock {
    display: none;
  }
  main .block3 img {
    display: none;
  }
  main .block3__textblock {
    font-size: 42px;
    padding-left: 20px;
  }
  main .block3__textblock h5 {
    width: 350px;
    font-size: 27px;
  }
  main .block4 {
    width: 300px;
  }
  main .block4__textblock {
    width: 400px;
  }
  main .block4__textblock h1 {
    font-size: 42px;
  }
  main .block4__textblock h5 {
    width: 330px;
  }
  main .block4 img {
    display: none;
  }
  main .block5 img {
    display: none;
  }
  main .block5__textblock {
    width: 350px;
  }
  main .block5__textblock h1 {
    font-size: 42px;
  }
  main .block5__textblock h5 {
    font-size: 27px;
    width: 330px;
  }
  main .block6 h1 {
    width: 330px;
    font-size: 42px;
  }
  main .block6 h3 {
    width: 385px;
  }
  main .block7__header {
    width: 400px;
    font-size: 42px;
  }
  main .block7__subtext {
    font-size: 27px;
    width: 300px;
  }
  main .block8 div {
    height: 100%;
    padding-bottom: 20px;
    z-index: 2;
    text-align: center;
  }
  main .block8 div h2 {
    font-size: 42px;
  }
  main .block8 div p {
    font-size: 21px;
  }
  main .block8 div button {
    width: 115px;
    height: 50px;
    font-size: 15px;
    padding: 5px;
  }
  main .block9 {
    z-index: 1;
  }
  main .block9 img,
  main .block9 .background {
    height: 400px;
    margin-top: -150px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main .block9 img p,
  main .block9 .background p {
    margin-top: 10px;
  }
  main .block9 img h3,
  main .block9 .background h3 {
    margin-bottom: 0;
    font-size: 32px;
    width: 365px;
  }
  main .block9 img {
    margin-left: -200px;
  }
  main .block10 .feature-container .feature {
    width: 350px;
    height: auto;
  }
  main .block10 .feature-container .feature .info-block {
    padding: 10px 12px;
  }
  main .block10 .feature-container .feature .info-block a {
    left: -210px;
  }
}

footer {
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  margin-left: -20px;
}

footer .links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links .link__col {
  padding: 40px 0;
}

footer .links .link__col ul {
  margin-top: 0;
}

footer .socials {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=styles.css.map */