@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

$default-font: 27px "Roboto", sans-serif;
$white-background: #e5e5e5;
$black-background: #100e14;
$bold-logo: 40px "Lobster", sans-serif;
$white: #ffffff;
$white-transparent7: rgba(255, 255, 255, 0.7);
$white-transparent5: rgba(255, 255, 255, 0.5);
$my-red: #ff4343;
$my-red-hover: #c91919;
$my-green: rgba(139, 255, 176, 1);
$my-grey: #1d1b24;
*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: $default-font;
  background-color: $white-background;
  overflow-x: hidden;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  .menu {
    gap: 90px;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 22px;
    width: max-content;
    .menu__logo {
      cursor: pointer;
      font: $bold-logo;
    }
    .menu__list {
      display: flex;
      gap: 50px;
      list-style: none;
      .menu__item {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

button {
  background-color: $my-red;
  border: 0;
  cursor: pointer;
  font-size: 21px;
  color: $white;
  width: 231px;
  height: 66px;
  border-radius: 7px;
  margin-top: 35px;
  transition: all 1s ease;
  &:hover {
    background-color: $my-red-hover;
    transition: all 1s ease;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 75px;
  background-color: $black-background;
  section {
    display: flex;
    align-items: center;
  }
  .block1 {
    position: relative;
    flex-direction: column;
    h1 {
      margin-bottom: 10px;
    }
    h4 {
      color: $white-transparent7;
    }

    p {
      font-size: 14px;
    }
    .phone {
      float: right;
      margin-right: 10px;
    }
    .images-block {
      width: 904px;
      height: 537px;
      align-self: center;
      background-image: url("./images/Rectangle.png");
    }
  }
  .block2 {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 100px;
    &__textblock {
      width: 300px;
      h1 {
        font-size: 38px;
        line-height: 50px;
      }
      h3 {
        font-size: 26px;
        color: $white-transparent5;
      }
    }
    &__imagesblock {
      position: relative;
      .background-img {
        z-index: -1;
        transform: rotate(-20deg);
      }
      .front-img {
        z-index: 10;
        position: absolute;
        left: 310px;
      }
    }
  }
  .block3,
  .block4,
  .block5 {
    margin-top: 40px;
    justify-content: center;
    gap: 130px;
    &__textblock {
      width: 400px;
      letter-spacing: 1.08px;
      h1 {
        font-size: 58px;
        margin-bottom: 10px;
      }
      h5 {
        font-size: 27px;
        margin-top: 10px;
        color: $white-transparent5;
        width: 450px;

        span {
          color: $white;
        }
      }
    }
  }
  .block4 {
    &__textblock {
      width: 500px;
      h1 {
        font-size: 54px;
      }
    }
  }
  .block5 {
    &__textblock {
      width: 500px;
    }
  }
  .block6 {
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    h1 {
      width: 475px;
      font-size: 61px;
    }
    .red-line {
      width: 120px;
      height: 5px;
      background-color: $my-red;
    }
    h3 {
      width: 600px;
      font-size: 26px;
      color: $white-transparent5;
      letter-spacing: 0.42px;
      line-height: 38px;
    }
    .people-preview {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      &__item {
        &:hover {
          .background {
            opacity: 1;
            transition: all 0.2s ease;
          }
        }
        cursor: pointer;
        position: relative;
        .background {
          opacity: 0.9;
          transition: all 0.2s ease;

          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0.8)
          );
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 452px;
          border-radius: 10px;
        }
        &__bigtext {
          position: absolute;
          bottom: 80px;
          font-weight: 100;
          width: 100%;
        }
        &__name {
          position: absolute;
          bottom: 60px;
          font-weight: 100;
          font-size: 16px;
          width: 100%;
          text-align: center;
        }
        &__work {
          position: absolute;
          bottom: 20px;
          color: $white-transparent5;
          font-weight: 100;
          font-size: 16px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .block7 {
    flex-direction: column;
    margin-top: 200px;
    &__async {
      color: $my-green;
      font-size: 22px;
      text-align: center;
      margin-bottom: 10px;
    }
    &__header {
      width: 780px;
      margin: 0;
      font-size: 58px;
      color: $white;
      text-align: center;
      font-weight: normal;
    }
    &__subtext {
      width: 900px;
      margin: 30px 0;
      color: $white-transparent5;
      font-weight: normal;
      font-size: 27px;
      text-align: center;
    }
    &__people {
      position: relative;
      height: 835px;
      width: 940px;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .block8 {
    justify-content: center;
    div {
      width: 1120px;
      height: 433px;
      background: $my-grey;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 63px;
        font-weight: normal;
        margin-bottom: 0;
      }
      p {
        color: $white-transparent7;
        font-size: 27px;
      }
    }
  }
  .block9 {
    margin-top: -75px;
    margin-left: -75px;
    width: 99vw;
    position: relative;
    img {
      width: 100%;
    }
    .background {
      background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.8)
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h3 {
      font-size: 42px;
      font-weight: 700;
      width: 700px;
      text-align: center;
    }
    p {
      font-weight: normal;
      font-size: 23px;
    }
  }
  .block10 {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    h1 {
      margin-bottom: 50px;
    }
    .feature-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      .feature {
        width: 615px;
        height: 419px;
        border-radius: 30px;
        display: flex;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.06) 3%,
          rgba(133, 233, 165, 1) 3.3%
        );
        .img-block {
          position: relative;
          img {
            height: 419px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          .title {
            position: absolute;
            bottom: 100px;
            left: 20px;
            margin: 0;
            text-transform: uppercase;
            font-size: 19px;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .YouTube {
            position: absolute;
            left: 20px;
            bottom: 40px;
            width: calc(220px - 20px);
            font-size: 16px;
          }
        }
        .info-block {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          .upper-para {
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: $my-green;
          }
          h4 {
            font-weight: normal;
            font-size: 29px;
            color: $white;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          .text {
            font-weight: normal;
            font-size: 16px;
            color: $white;
          }
          a {
            position: absolute;
            right: 40px;
            bottom: 30px;
            cursor: pointer;
            font-size: 19px;
            font-weight: normal;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

footer {
  background: $black-background;
  color: $white;
  display: flex;
  padding-bottom: 120px;
  p {
    margin: 0;
  }
  align-items: flex-start;
  justify-content: space-around;
  .logo {
    cursor: pointer;
    font: $bold-logo;
  }
  .links {
    width: 50%;
    justify-content: space-around;
    display: flex;
    .link__col {
      p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: normal;
      }
      ul {
        list-style-type: none;
        margin: 50px 0 0;
        padding: 0;
      }
      li {
        padding: 5px 0;
        font-weight: normal;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .socials {
    width: 150px;
    display: flex;
    gap: 10px;
    i {
      cursor: pointer;
      font-size: 40px;
      &:hover {
        color: $white-transparent7;
        transition: all 0.3s ease;
      }
    }
  }
}
